# https://help.github.com/ignore-files/ for more about ignoring files.

# production
/dist/

# dependencies
node_modules

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# editor directories and files
.idea
.history
*.suo
*.ntvs*
*.njsproj
*.sln

# log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
